body {
	background: #cccccc;
	color: #232323;
	font-family: Roboto, sans-serif;
}

.wrapper {
	width: 1400px;
	margin: 15px auto;
	background: #ffffff;
	background-size: cover;
	padding: 0;
	position: relative;
	box-shadow: 0 0 6px rgba(0, 0, 0, .25);
}

.wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .95);
	z-index: 0;
}

.container {
	max-width: 100%;
	position: relative;
	z-index: 1;
}

.header {
	border-bottom: 1px solid #dddddd;
}

.header .logo {
	position: relative;
	z-index: 2;
	padding: 20px 0;
	text-align: center;
}

.header h1 {
	font-size: 24px;
	font-weight: 900;
	text-transform: uppercase;
	color: #333333;
}

.header h4 {
	font-weight: 300;
	font-size: 18px;
	color: #555555;
}

.content {
	padding: 70px 15px;
}

#toBlock {
	margin-top: 2000px;
	height: 1040px;
	width: 100%;
	padding: 20px;
	text-align: center;
}

.footer {
	border-top: 1px solid #dddddd;
	padding: 20px 0;
	font-size: 14px;
}

.footer p {
	margin: 0;
}